<h1>Products</h1>

<div class="well">
    <ul class="nav nav-pills">
      {{#nav-link-to 'products.index' tagName="li"}}List all{{/nav-link-to}}
      {{#nav-link-to 'products.add' tagName="li"}}Add new{{/nav-link-to}}
    </ul>
</div>

{{outlet}}
